<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<h2>New Post</h2>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Click the 'Choose File' to upload your picture!</h3>
			</div> 
			<div class="panel-body">
				<%= form_for @post do |f| %>
				    <%= f.file_field :picture, class: "btn btn-default" %>
				    <br/>
				    <%= f.hidden_field :picture_cache %>
				    <br/>
				    <%= f.submit "Add Picture", class: "btn btn-default btn-group-justified" %>
				<% end %>
			</div>
		</div>
	</div>
</div>