<h1>Hi and welcome to this Index Page!</h1>

<p>
    I'll be uploading some cool images here :D
    
    -> From a file already in Rails's public folder
    <br/>
    <img src="/default.jpg"/>
    <hr/>
    
    -> From a file already on the web somewhere (fancy Google?)
    
    <hr/>
    
    -> Choose your file to upload!!
    
    
</p>